@use '/public/styles/vars';

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  z-index: 999;

  &_letter {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 8rem;
    font-family: var(--fontText);
    font-weight: 100;
    user-select: none;

    & > h2 {
      transition: all 0.3s;

      &:hover {
        color: white !important;
        transition: all 0.3s;
        animation: jump 1s ease-in-out alternate;
      }
    }
  }
}
