@use '/public/styles/vars';

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: var(--fontTitle);

  &__title {
    z-index: 3;
    margin-top: 3rem;
    font-size: 3rem;
    color: vars.$primaryLight;
    letter-spacing: 2px;
  }

  &__letter {
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    font-size: 10rem;
    font-family: var(--fontTitle);
    user-select: none;
    letter-spacing: 10px;

    & > h2 {
      margin: 0.2rem;
      transition: all 0.3s;

      &:hover {
        color: white !important;
        transition: all 0.3s;
        animation: jump 1s ease-in-out alternate;
      }
    }
  }

  & > p {
    z-index: 999;
    color: vars.$primaryLight;
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;

    &__title {
      margin-top: 0;
      font-size: 2rem;
    }
  }

  .header__letter {
    font-size: 6rem;
    margin-left: 10px;
  }
}
