@use '/public/styles/vars';

.logo {
  width: 350px;
  margin-top: 7rem;
  z-index: 999;
  filter: drop-shadow(8px 15px 10px #00000080);
}

@media screen and (max-width: 600px) {
  .logo {
    width: 270px;
    margin: 5rem 0;
  }
}
