@use '/public/styles/vars';

.navigation {
  width: 100%;
  position: fixed;
  top: 2%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.send-mail,
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 40px;
  height: 2px;
  border: 1px solid vars.$flashColor;
}
.email {
  font-size: 1rem;
  color: vars.$flashColor;
  transition: all 0.4s;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0.4rem;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  opacity: 0.8;
}

.animated__letter:hover {
  color: white !important;
  transition: all 0.3s;
  animation: jump 1s ease-in-out alternate;
}

@media screen and (max-width: 600px) {
  .line {
    width: 10px;
    height: 1px;
  }
  .email {
    font-size: 0.8rem;
  }

  .icon {
    margin: 0.2rem;
  }
}
