@use '/public/styles/vars';

.hexa-light {
  fill: vars.$primaryDark;
  stroke: vars.$primaryMedium;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.hexa-medium {
  fill: vars.$primaryMedium;
  stroke: vars.$primaryMedium;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.hexa-flash {
  fill: vars.$primaryDark;
  stroke: vars.$flashColor;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.large {
  width: 15%;
  stroke-width: 3px;
}

.medium {
  width: 12%;
  stroke-width: 3px;
}

.small {
  width: 8%;
  stroke-width: 3px;
}

.absolute {
  position: absolute;
}

.one {
  top: 450px;
  left: 120px;
  z-index: 2;
}

.two {
  top: 370px;
  left: 380px;
}

.three {
  top: 220px;
  right: 220px;
  z-index: 3;
}

.four {
  top: 240px;
  right: -120px;
}

.five {
  top: 480px;
  right: 300px;
}

.six {
  top: -90px;
  right: 480px;
}

.skill-tag {
  position: absolute;
  z-index: 1;
  width: 100%;
  fill: vars.$primaryDark;
  transition: all 0.4s;
  filter: drop-shadow(5px 10px 15px rgb(0 0 0 / 0.4));

  &:hover {
    stroke: vars.$flashColor;
    transition: all 0.4s;
  }
}
