@use '/public/styles/vars';

.hexa-light {
  fill: vars.$primaryDark;
  stroke: vars.$primaryMedium;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.hexa-medium {
  fill: vars.$primaryMedium;
  stroke: vars.$primaryMedium;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.hexa-flash {
  fill: vars.$primaryDark;
  stroke: vars.$flashColor;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
}

.large {
  width: 250px;
  stroke-width: 3px;
}

.medium {
  width: 190px;
  stroke-width: 3px;
}

.small {
  width: 150px;
  stroke-width: 3px;
}

.absolute {
  position: absolute;
}

.one {
  bottom: 15%;
  left: 7%;
  z-index: 2;
}

.two {
  bottom: 30%;
  left: 20%;
}

.three {
  top: 20%;
  right: 15%;
  z-index: 3;
}

.four {
  top: 27%;
  right: 1%;
}

.five {
  bottom: 15%;
  right: 20%;
}

.six {
  top: -8%;
  right: 35%;
}

.seven {
  top: 10%;
  left: 6%;
  z-index: 5;
}

.eight {
  top: 20%;
  left: 15%;
}

.skill-tag {
  position: absolute;
  z-index: 1;
  width: 100%;
  fill: vars.$primaryDark;
  transition: all 0.4s;
  filter: drop-shadow(5px 10px 15px rgb(0 0 0 / 0.4));

  .project-tag {
    width: 100%;
    stroke-width: 3px;
  }

  &:hover {
    stroke: vars.$flashColor;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 1024px) {
  .two,
  .three,
  .five,
  .seven {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .four {
    width: 150px;
    top: 45%;
    right: 0;
  }

  .six {
    width: 130px;
    left: -8%;
    top: 18%;
    stroke: vars.$flashColor;
  }

  .eight {
    display: none;
  }
}
