@use '/public/styles/vars';

.container__skill {
  width: 100%;
  height: 1800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fontText);

  &__title {
    top: 0;
    right: 5%;
    font-size: 12rem;
    letter-spacing: 1rem;
    font-weight: bold;
    color: vars.$primaryMedium;
  }

  &__intro {
    top: 20%;
    right: 10%;
    font-size: 12rem;
    font-size: 3rem;
    font-weight: 300;
  }

  &__knowledges {
    font-size: 5rem;
    font-weight: 500;
  }
}

.polygon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: vars.$primaryLight;
  transform: rotate(90deg);
}
