@use '/public/styles/vars';

.footer {
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: var(--fontText);
  font-size: 1.2rem;
  font-weight: 300;
  color: white;

  & > p {
    padding: 1.2rem 0;
  }

  & > a {
    color: vars.$primaryLight;
    font-weight: 400;
  }
}
