@use '/public/styles/vars';

.container__loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;

  & > svg {
    stroke-dasharray: 1800;
    stroke-dashoffset: 3600;
    transition: stroke-dashoffset 2s ease;
    animation: draw 2.5s linear infinite;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

// @media screen and (min-width: 600px) {
//   .container__loader {
//     & > svg {
//       width: 270px;
//     }
//   }
// }
