//Dark theme color
$primaryDark: #00131c;
$primaryMedium: #012532;
$primaryLight: #80a1b1;
$flashColor: #fe800c;
$border-colored: 1px solid #fe800c;
//Carousel theme color
$color-purple: #8b5cf6;
$color-pink: #ec4899;
$color-gray: #9ca3af;
$color-black: #1f2937;
$card-size: 10rem;
