//Dark theme color
$primaryDark: #00131c;
$primaryMedium: #012532;
$primaryLight: #80a1b1;
$flashColor: #fe800c;

//Light theme color
// $primaryLightTheme: #ffffff;
// $primaryMediumLigthTheme: #012532;
// $primaryLightTheme

$border-colored: 1px solid #fe800c;
