@use 'vars';

@font-face {
  font-family: 'halcyon';
  src: url('../fonts/halcyon.otf') format('opentype');
  src: url('../fonts/halcyon.woff') format('woff');
}

:root {
  --fontTitle: 'halcyon';
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: vars.$primaryDark;
  }
}

.logo {
  width: 350px;
  filter: drop-shadow(0 3px 5px #00000060);
}

@media screen and (max-width: 600px) {
  .logo {
    width: 200px;
  }

  .hexa-loader {
    width: 50%;
  }

  .one,
  .two,
  .three {
    display: none;
  }
}

@keyframes jump {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.9, 1.2) translateY(-2px);
  }
  30% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 0.8) translateY(0);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(0.9, 1.2) translateY(2px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
