@use 'vars.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat italic';
  src: url('/public/fonts/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Thunder';
  src: url('/public/fonts/Thunder-VF.ttf') format('truetype');
}

:root {
  --fontTitle: 'Thunder';
  --fontText: 'Montserrat';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontText) sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: vars.$primaryDark;
  }
}
